
.paramNode{
    width: auto;
}

.paramNode #node-border{
    border-radius: 16px;
}
.paramNode #selection-border{
    border-radius: 18px;
}
.paramNode #title{
    -unity-text-align: middle-center;
    align-items: center;
}
.paramNode #title > Label{
    -unity-text-align: middle-center;
    margin-left: 0px;
    flex-grow: 1;
}